<section class="signup-page">
    <div class="signup">
        <form name="signup">
            <h3>Create your Todo Account</h3>
            <div [ngClass]="errorMapper[0].class">
                <input type="text" id="name" [(ngModel)]="name" name="name" placeholder=""  [ngClass]="errorMapper[0].class" ngModel
                    required>
                <label class="signup-field" [ngClass]="errorMapper[0].class">Name</label>
                <label *ngIf="errorMapper[0].value" class="error">Invalid data</label>
            </div>
            <div [ngClass]="errorMapper[1].class">
                <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="" [ngClass]="errorMapper[1].class" ngModel
                    required>
                <label class="signup-field" [ngClass]="errorMapper[1].class">Email</label>
                <label *ngIf="errorMapper[1].value" class="error">Invalid data</label>
            </div>
            <div [ngClass]="errorMapper[2].class">
                <input type="text" id="ext" [(ngModel)]="ext" name="ext" placeholder="" [ngClass]="errorMapper[2].class" ngModel required>
                <label class="signup-field" [ngClass]="errorMapper[2].class">Country code</label>
                <label *ngIf="errorMapper[2].value" class="error">Invalid data</label>
            </div>
            <div [ngClass]="errorMapper[3].class">
                <input type="text" id="phno" [(ngModel)]="phno" name="phno" placeholder="" [ngClass]="errorMapper[3].class" ngModel
                    required>
                <label class="signup-field" [ngClass]="errorMapper[3].class">Phone No</label>
                <label *ngIf="errorMapper[3].value" class="error">Invalid data</label>
            </div>
            <div [ngClass]="errorMapper[4].class">
                <input type="password" id="pass" [(ngModel)]="password" name="password" placeholder="" [ngClass]="errorMapper[4].class" ngModel
                    required>
                <label class="signup-field" [ngClass]="errorMapper[4].class">Password</label>
                <label *ngIf="errorMapper[4].value" class="error">Invalid data</label>
            </div>
            <div [ngClass]="errorMapper[5].class">
                <input type="password" name="cpass" id="cpass" [(ngModel)]="confirmPassword" placeholder="" [ngClass]="errorMapper[5].class" ngModel
                    required>
                <label class="signup-field" [ngClass]="errorMapper[5].class">Confirm Password</label>
                <label *ngIf="errorMapper[5].value" class="error">Invalid data</label>
            </div>
            <input type="submit" id="submit" value="Signup" (click)="hello()">
        </form>
    </div>
</section>