<style>
    h1{
    color: #2F409B;
    text-align: center;
    }
    body{
    margin-top:90px;
    }
    #submit{
    background-color: #2F409B;
    color: white;
    font-size: 20px;
    }
    div.signup{
    text-align: center;
    color: #2F409B;
    font-size: 20px;
    }
    </style>
<section>
<h1><b>Todo Signup Page</b></h1><br>
<form name="signup">
<div class="signup">
<pre>
Name     : <input type="text" id="name" [(ngModel)]="name" name="name"   placeholder="   Enter your name" ngModel><br><br>
Email    : <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="  Enter your email id" ngModel><br><br>
Phone no : <input type="text" id="ext" [(ngModel)]="ext" name="ext" placeholder="  Enter country code" ngModel><br><br><input type="text" id="phno" [(ngModel)]="phno" name="phno" placeholder="  Enter your phone no." ngModel><br><br>
Password : <input type="password" id="pass" [(ngModel)]="password" name="password" placeholder="  Type new password" ngModel><br><br>
Confirm Password : <input type="password" name="cpass" id="cpass" [(ngModel)]="confirmPassword" placeholder="Retype password" ngModel><br><br>
<input type="submit" id="submit" value="Signup" (click)="hello()">
<div [class]="name">{{name}}</div> {{ phno }}
</pre>
</div> 
</form>  
</section>
