@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
body {
    background: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Baloo Chettan 2', cursive;
}

@media handheld and (max-width: 600px), screen and (max-device-width: 600px), screen and (max-width: 600px) {
    body {
        background-position: center center;
        background-size: auto;
    }
}